<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94784010028-6kov874cjbrenuhrrsmedpv177aklf2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94784010028-6kov874cjbrenuhrrsmedpv177aklf2a</string>
	<key>API_KEY</key>
	<string>AIzaSyBQJBQEb6N5gGTAHeAeyAI-7yMYRXkwYuM</string>
	<key>GCM_SENDER_ID</key>
	<string>94784010028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.noodler.theory-mountain</string>
	<key>PROJECT_ID</key>
	<string>theory-mountain</string>
	<key>STORAGE_BUCKET</key>
	<string>theory-mountain.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94784010028:ios:2abc034c2b287e1341de89</string>
</dict>
</plist>